.container-sort {
    padding: 10px;
    display: flex;
    align-items: right;
    height: 100%;
}

.container-list {
    padding: 10px;
    height: 100%
}

.container {
    margin-left: 3%;
    margin-right: 3%;
}

.container-header {
    margin: 3%;
}

.container-form {
    margin-top: 5%;
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 3%;
}